/* Global Selectors */

h1,h2,h3,h4,h5 {
    color: var(--head-main-titles);
}

html,
body {
    padding: 0;
    margin: 0;
    
    font-family: "Roboto Slab", serif;
    
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 500px 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    
    background-color: var(--body-bg);

}

/* Custom color properties */

:root {
    --body-bg: rgb(24, 24, 24);
    --btn-nav-bg: rgb(171, 54, 255);
    --btn-nav-txt: rgb(255, 255, 255);
    --head-main-bg: rgb(71, 71, 71);
    --head-main-titles: rgb(255, 255, 255);
    --head-main-txt: rgb(26, 41, 80);
    --box-shadow: rgba(218, 167, 255, 0.328);
    --bottom-border: rgb(189, 189, 189);
    --left-border: rgba(255, 255, 106, 0.766);
    --search-input: rgb(61, 61, 61);
    
}

/* Selects All Profile Pictures */
.profile-pics {
    height: 80px;
    border-radius: 50px;
}



/* Header Selectors */

/* Global Header Selectors */

#header-container {
    grid-area: 1/2/1/5;
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0 2px 15px var(--box-shadow);
}

/* Header Top Selectors */

#header-top {
    display: grid;
    grid-template-columns: 1fr 100px 100px 300px;
}

/* Search Bar Container */
#search-bar {
    background-color: var(--head-main-bg);
    display: flex;
    align-items: center;
    padding-left: 30px;
}
input {
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: var(--search-input);
}

/* Notification Icon div */
#notification-bell {
    background-color: var(--head-main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile Picture div */
#profile-icon-sml {
    background-color: var(--head-main-bg);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* UserName div */
#username-sml {
    background-color: var(--head-main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Header Bottom Selectors */

/* Main Container */
#header-bottom {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 1fr 180px 180px 180px;
    align-content: center;
}

/* Large Profile Picture div */
#profile-icon-lrg {
    grid-area: 1/1/3/2;
    background-color: var(--head-main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Large Username div */
#username-lrg {
    grid-area: 2/2/1/2;
    background-color: var(--head-main-bg);
    display: flex;
    flex-direction: column;    
    justify-content: center;    
}

/* Removes Default Margins */
#username-txt-lrg{
    margin-top: 0;
}
#hi-there-txt{
    margin-bottom: 0;
}

/* Button divs */
#btn-new {

    background-color: var(--head-main-bg);
    grid-row: span 2;
}
#btn-upload {
    background-color: var(--head-main-bg);
    grid-row: span 2;
}
#btn-share {
    background-color: var(--head-main-bg);
    grid-row: span 2;
}

/* Selector for large profile pic to override global settings */
#profile-pic-lrg {
    height: 110px;
}

/* Selector for all button divs */
.header-button{
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Global button styles */
.buttons {
    height: 50px;
    width: 120px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-nav-bg);
    color: var(--btn-nav-txt);
    transition: 0.5s;
}

/* Nav Selectors */

/* Main nav container */
#nav-container {
    grid-area: 1/1/5/2;

    display: grid;
    grid-template-rows: 2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 2fr 1.2fr 1.2fr 1.2fr 10fr;
}

.main-left {
    border-radius: 15px;
}

/* Selectors for all nav sub containers */
#nav-title {
    background-color: var(--btn-nav-bg);
    gap: 20px;
}
#nav-home {
    background-color: var(--btn-nav-bg);
}
#nav-profile {
    background-color: var(--btn-nav-bg);
}
#nav-message {
    background-color: var(--btn-nav-bg);
}
#nav-history {
    background-color: var(--btn-nav-bg);
}
#nav-tasks {
    background-color: var(--btn-nav-bg);
}
#nav-communities {
    background-color: var(--btn-nav-bg);
}
#nav-settings {
    background-color: var(--btn-nav-bg);
}
#nav-support {
    background-color: var(--btn-nav-bg);
}
#nav-privacy {
    background-color: var(--btn-nav-bg);
}
#empty-slot {
    background-color: var(--btn-nav-bg);
}
#empty-space {
    background-color: var(--btn-nav-bg);
}

.nav-icons {
    height: 40px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(286deg) brightness(101%) contrast(102%);
}


/* Nav icon styles */
#orbit-icon {
    height: 100px;   
}
.nav-container {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 30px;
}

.nav-txt {
    color: var(--btn-nav-txt);
}



/* Main Selectors */

/* Root container of main content section */
#main-container {
    grid-area: 2/2/5/5;
    display: grid;
    grid-template-columns: 1fr 500px;
    margin-bottom: 200px;
    margin-left: 20px;
    margin-right: 40px; 
}

#project2,
#project4,
#project6 {
    margin-right: 25px;
}

/* Adds line separator to news articles */
#news1,
#news2,
#news3 {
    border-bottom: 1.5px solid gainsboro;
}

/* Global selector for all news article divs */
.news-bar1{
    margin: 30px;
}

/* Global selector for bookmark icons */
.main-icons {
    height: 40px;
}

/* Child container of root container */
#main-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    gap: 40px;   
}

/* Header of the left child */
#main-left-head {
    background-color:none;
    grid-area: 1/1/2/3;
    display: flex;
    align-items: end;
    margin-bottom: 0;
    line-height: 0;
    
}

#main-content-header {
    margin-bottom: 0;
}

/* Selector for project divs Header text */
.project-head {
    margin-bottom: 0;
}

/* Class Selector for project divs */
.main-left {
    background-color: var(--head-main-bg);
    gap: 5px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    box-shadow: 10px 10px 5px var(--box-shadow);
    border-left: 20px solid var(--left-border);
    
    
    
}

/* Selector for all text in project divs */
.main-text {
    margin-left: 20px;
    
}

/* Selects the text below the header of project divs */
.project-text {
    font-size: 20px;
    margin-top: 0;
}

/* Selects bookmark divs */
.bookmarks {
    background-color: var(--head-main-bg);
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 40px;
    margin-bottom: 50px;
    margin-right: 50px;
}

/* Right child of root container */
#main-right {
    display: grid;
    grid-template-rows: 100px 1fr 100px 1fr;
    
    
}

/* Selects the header div of right child */
#main-right-head1 {
    background-color: none;
    display: flex;
    align-items: end;
    
    
}

/* Selects the text inside right-head1 */
#announcements-head {
    
    margin-bottom: 0;
    line-height: 0;

}

/* Consistent size for main container headers */
.project-header, .project-head {
    font-size: 30px;
}

/* Selects the news div */
#news-bar1 {
    background-color: var(--head-main-bg);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px var(--box-shadow);
}

/* Child containers of news-bar1 */
#news1 {
    background-color: var(--head-main-bg);
}
#news2 {
    background-color: var(--head-main-bg);
    margin-top: 0;
}
#news3 {
    background-color: var(--head-main-bg);
    margin-top: 0;
}

/* Selects the text inside the above children */
.news-header{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 30px;
}
.news-text{
    margin-top: 0;
    font-size: 20px;
}

/* Header selector of the trending section */
#main-right-head2 {
    background-color: none;
    display: flex;
    align-items: end;
}

#trending-head {
    margin-bottom: 20px;
}

#news-bar2 {
    border-radius: 15px;
    background-color: var(--head-main-bg);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: 10px 10px 5px var(--box-shadow);
    
}

/* Aligns the divs in the trending section */
.news-bar2 {
    display: grid;
    grid-template-columns: 150px 1fr;
    
    
}

/* Selects the divs containing the trending profile images */
#icon1 {
    background-color: var(--head-main-bg);
    border-radius: 15px 0 0 0;
}
#icon2 {
    background-color: var(--head-main-bg);
}
#icon3 {
    background-color: var(--head-main-bg);
}
#icon4 {
    background-color: var(--head-main-bg);
    border-radius: 0 0 0 15px;
}

/* Selects the divs that contain the text in the trending section */
#user1 {
    background-color: var(--head-main-bg);
    border-radius: 0 15px 0 0;
}
#user2 {
    background-color: var(--head-main-bg);
}
#user3 {
    background-color: var(--head-main-bg);
}
#user4 {
    background-color: var(--head-main-bg);
    border-radius: 0 0 15px 0;
}


/* Class to select all the above #icon id's */
.news-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    
    
}

/* Class to select all the above #user id's */
.news-username {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 30px;
    line-height: 100%;
}

/* Removes default margins from trending text */
.user-tags, .trending-text{
    margin: 0;
}

p {
    color: var(--head-main-txt);
}

.trending-text {
    font-size: 25px;
    
}

#star-icon {
    transition: 0.5s;
}

#star-icon:hover {
    filter: brightness(0) saturate(100%) invert(95%) sepia(64%) saturate(2647%) hue-rotate(359deg) brightness(105%) contrast(100%) drop-shadow(0 0 0.75rem yellow);
    
    
}

#watch-icon {
    transition: 0.5s;
}

#watch-icon:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(86%) saturate(3836%) hue-rotate(157deg) brightness(104%) contrast(102%) drop-shadow(0 0 0.75rem rgb(0, 197, 255));
    
}

#share-icon {
    transition: 0.5s;
}

#share-icon:hover {
    filter: brightness(0) saturate(100%) invert(88%) sepia(22%) saturate(3182%) hue-rotate(73deg) brightness(98%) contrast(115%) drop-shadow(0 0 0.75rem rgb(0, 255, 94));
}

.buttons:hover {

    background-color: rgb(125, 38, 188);
    
}

.buttons:active{
    transition: 0.1s;
    background-color: rgb(153, 119, 178);
}
